{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Around | Digital Marketing & SEO</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Around - Multipurpose Bootstrap Template">
    <meta name="keywords" content="">
    <meta name="author" content="Createx Studio">
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon and Touch Icons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href=" {% static  'favicon-32x32.png' %} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static  'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="mask-icon" color="#5bbad5" href="{% static 'safari-pinned-tab.svg' %} ">
    <meta name="msapplication-TileColor" content="#766df4">
    <meta name="theme-color" content="#ffffff">
    <!-- Page loading styles-->
    <style>
      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: normal;
        color: #737491;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #766df4;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }

      
      
    </style>
    <!-- Page loading scripts-->
    <script>
      (function () {
        window.onload = function () {
          var preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 2000);
        };
      })();
      
    </script>
    <!-- Vendor Styles-->
    <link rel="stylesheet" href=" {% static 'css/checkout.css' %} "/>
    <link rel="stylesheet" media="screen" href=" {% static 'vendor/simplebar/dist/simplebar.min.css' %} "/>
    <link rel="stylesheet" media="screen" href=" {% static 'vendor/tiny-slider/dist/tiny-slider.css' %} "/>
    <link rel="stylesheet" media="screen" href=" {% static 'vendor/lightgallery.js/dist/css/lightgallery.min.css' %} "/>
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href=" {% static 'css/theme.min.css' %} ">
    <link rel="stylesheet" media="screen" href=" {% static 'css/custom.css' %} ">

  
  </head>
  <!-- Body-->
  <body>
    <!-- Page loading spinner-->
    <div class="page-loading active">
      <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
      </div>
    </div>
    <main class="page-wrapper">
      <!-- Coupon code modal-->
      <!-- <div class="modal fade show" id="modal-coupon" tabindex="-1" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Coupon code</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body needs-validation" novalidate="">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Your coupon code" required="">
                <button class="btn btn-primary" type="submit">Apply code</button>
              </div>
            </form>
          </div>
        </div>
      </div>
       -->
      <!-- Sign In Modal-->
      <div class="modal fade" id="modal-signin" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0">
            <div class="view show" id="modal-signin-view">
              <div class="modal-header border-0 bg-dark px-4">
                <h4 class="modal-title text-light">Sign in</h4>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="btn-close "></button>
              </div>
              <div class="modal-body px-4">
                <p class="fs-ms text-muted">Sign in to your account using email and password provided during registration.</p>
                 <form action = "/api/signin" method = "post" class="needs-validation" novalidate>
                  {% csrf_token %}
                  <div class="mb-3">
                    <div class="input-group"><i class="ai-user position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                      <input name = "username" class="form-control rounded" type="text" placeholder="Username" required>
                    </div>
                  </div>
                  <div class="mb-3">
                    <div class="input-group"><i class="ai-lock position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                      <div class="password-toggle w-100">
                        <input name = "password" class="form-control" type="password" placeholder="Password" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                          <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-between align-items-center mb-3 mb-3">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="keep-signed">
                      <label class="form-check-label fs-sm" for="keep-signed">Keep me signed in</label>
                    </div><a class="nav-link-style fs-ms" href="/password_reset">Forgot password?</a>
                  </div>
                  <button class="btn btn-primary d-block w-100" type="submit">Sign in</button>
                  <p class="fs-sm pt-3 mb-0">Don't have an account? <a href='#' class='fw-medium' data-view='#modal-signup-view'>Sign up</a></p>
                </form>
              </div>
            </div>
            <div class="view" id="modal-signup-view">
              <div class="modal-header border-0 bg-dark px-4">
                <h4 class="modal-title text-light">Sign up</h4>
                <button class="btn-close btn-close-white" type="button" data-bs-dismiss="modal" aria-label="btn-close"></button>
              </div>
              <div class="modal-body px-4">
                <p class="fs-ms text-muted">Registration takes less than a minute but gives you full control over your orders.</p>
                <form action = "/api/signup" method = "post" class="needs-validation" novalidate>
                  {% csrf_token %}
                  <div class="mb-3">
                    <input name = "fullName" class="form-control" type="text" placeholder="Username" required>
                  </div>
                  <div class="mb-3">
                    <input name = "email" class="form-control" type="text" placeholder="Email" required>
                  </div>
                  <div class="mb-3 password-toggle">
                    <input name = "password1" class="form-control" type="password" placeholder="Password" required>
                    <label  class="password-toggle-btn" aria-label="Show/hide password">
                      <input  class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                  <div class="mb-3 password-toggle">
                    <input name = "password2" class="form-control" type="password" placeholder="Confirm password" required>
                    <label class="password-toggle-btn" aria-label="Show/hide password">
                      <input  class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                    </label>
                  </div>
                  <button class="btn btn-primary d-block w-100" type="submit">Sign up</button>
                  <p class="fs-sm pt-3 mb-0">Already have an account? <a href='#' class='fw-medium' data-view='#modal-signin-view'>Sign in</a></p>
                </form>
              </div>
            </div>
            <div class="modal-body text-center px-4 pt-2 pb-4">
              <hr class="my-0">
              <p class="fs-sm fw-medium text-heading pt-4">Or sign in with</p><a class="btn-social bs-facebook bs-lg mx-1 mb-2" href="#"><i class="ai-facebook"></i></a><a class="btn-social bs-twitter bs-lg mx-1 mb-2" href="#"><i class="ai-twitter"></i></a><a class="btn-social bs-instagram bs-lg mx-1 mb-2" href="#"><i class="ai-instagram"></i></a><a class="btn-social bs-google bs-lg mx-1 mb-2" href="#"><i class="ai-google"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar (Solid background)-->
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <header class="header navbar navbar-expand-lg navbar-light navbar-sticky" data-scroll-header data-fixed-element style = "background-color: #040d21">
        <div class="container px-0 px-xl-3">


          <button class="navbar-toggler ms-n2 me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand flex-shrink-0 order-lg-1 mx-auto ms-lg-0 pe-lg-2 me-lg-4" href=""><img class="d-none d-lg-block" src="{% static 'img/logo/logo-dark.png' %}" alt="Around" width="153"><img class="d-lg-none" src="{% static 'img/logo/logo-icon.png' %}" alt="Around" width="58"></a>
          {% if user.is_authenticated %}
          <div class="d-flex align-items-center order-lg-3 ms-lg-auto">
              <div class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="ai-user fs-xl me-2 align-middle"></i>{{ request.user }}</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/api/logout">Sign Out</a></li>
                    <li class="dropdown"><a class="dropdown-item" href="/dashboard">Dashboard</a></li> 
                  </ul>
                </div>
              </div>
           <!-- <div class="d-flex align-items-center order-lg-3 ms-lg-auto"><a class="btn btn-primary ms-grid-gutter d-none d-lg-inline-block" href="/logout">Sign out</a></div -->
          {% else %}
          <div class="d-flex align-items-center order-lg-3 ms-lg-auto"><a class="nav-link-style fs-sm text-nowrap" href="#modal-signin" data-bs-toggle="modal" data-view="#modal-signin-view"><i class="ai-user fs-xl me-2 align-middle"></i>Sign in</a><a class="btn btn-primary ms-grid-gutter d-none d-lg-inline-block" href="#modal-signin" data-bs-toggle="modal" data-view="#modal-signup-view">Sign up</a></div>
          {% endif %}
          <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
            <div class="offcanvas-header navbar-shadow">
              <h5 class="mt-1 mb-0">Menu</h5>
              <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <!-- Menu-->
              <ul class="navbar-nav">
                <div>
                  <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                </div>
                
                <div>
                  <li class="nav-item"><a class="nav-link" href="" data-scroll>FAQ's</a></li>
                </div>
                <div>
                  <li class="nav-item"><a class="nav-link" href="" data-scroll>Contact Us</a></li>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </header>

     {% for message in messages  %}    
          <div class = "container">        
           <div class="alert alert-success alert-{{ message.tags }} fade show" role="alert">
            <span class="fw-medium">Message :</span> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style = "float: right;"></button>
          </div>
          </div>
      {% endfor %}  




{% block formSubmission %} {% endblock formSubmission %}

  

  {% block content %}{% endblock  %}


  </main>
  <!-- Footer-->
    <footer class="footer bg-darker py-4">
      <div class="container d-md-flex align-items-center justify-content-between py-2 text-center text-md-start">
        <ul class="list-inline fs-sm mb-3 mb-md-0 order-md-2">
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="#">Support</a></li>
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="#">Contacts</a></li>
          <li class="list-inline-item my-1"><a class="nav-link-style nav-link-light" href="/termsandconditions">Terms &amp; Conditions</a></li>
        </ul>
        <p class="fs-sm mb-0 me-3 order-md-1"><span class="text-light opacity-50 me-1">© All rights reserved. Developed by</span><a class="nav-link-style nav-link-light" href="https://goflare.com/" target="_blank" rel="noopener">Goflare Digital Solutions</a></p>
      </div>
    </footer>
    <!-- Back to top button--><a class="btn-scroll-top" href="#top" data-scroll data-fixed-element><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ai-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>
    <script src="{% static 'vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
    <script src="{% static 'vendor/lightgallery.js/dist/js/lightgallery.min.js' %}"></script>
    <script src="{% static 'vendor/lg-video.js/dist/lg-video.min.js' %}"></script>
    <script src="{% static 'vendor/parallax-js/dist/parallax.min.js' %}"></script>

    <!-- Main theme script-->
    <script src="{% static 'js/theme.min.js' %} "></script>
   
  </body>

</html>




